{% extends "purchaseorder/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_ordered|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'order-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'order-delete' object.id %}">Delete</a>
          </div>
            {%elif user.is_supervisor and user.is_purchasing %}
            <div>
              <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'order-approve' object.id %}">Approve</a>
              <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'order-purchase' object.id %}">Purchase</a>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'order-update' object.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'order-delete' object.id %}">Delete</a>
          </div>
            {% elif user.is_supervisor%}
                <div>
                    <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'order-approve' object.id %}">Approve</a>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'order-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'order-delete' object.id %}">Delete</a>
                </div>
            {% elif user.is_purchasing %}
                <div>
                    <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'order-purchase' object.id %}">Purchase</a>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'order-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'order-delete' object.id %}">Delete</a>
                </div>
        {% endif %}

      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
      <hr>

      <p class="article-content">Approved?: {{ object.approved}}</p>
      <p class="article-content">Date Approved: {{ object.dateApproved }}</p>
      <p class="article-content">Approved By: {{ object.approvedBy }}</p>
      <hr>

      <p class="article-content">Purchased?: {{ object.purchased }}</p>
      <p class="article-content">Date Purchased: {{ object.datePurchased }}</p>
      <p class="article-content">Purchased By:{{ object.purchasedBy }}</p>
  
  

    </div>
  </article>
{% endblock content %}